* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 90rem;
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container img {
  width: 100%;
  height: 100%;
}

.containerR1,
.containerR3 {
  background: rgba(86, 86, 86, 0.5);
  border-radius: 35px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.containerR1 {
  right: 40%;
  bottom: 100px;
  width: 12%;
  height: 75px;
  background-image: url(img/Si.png);
  transition: all 0.2s ease-in-out;
}

.containerR1:hover {
  background: rgba(34, 34, 34, 0.5);
  right: 40%;
  bottom: 120px;
  width: 12%;
  height: 75px;
  background-image: url(img/Si.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.containerR3 {
  right: 15%;
  bottom: 75px;
  width: 12%;
  height: 100px;
  background-image: url(img/Nadota.png);
  transition: all 0.2s ease-in-out;
}

.containerR3:hover {
  background: rgba(34, 34, 34, 0.5);
  right: 15%;
  bottom: 95px;
  width: 12%;
  height: 100px;
  background-image: url(img/Nadota.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
